[submodule "DDServerFramework/accumulation-dev"]
	path = DDServerFramework/accumulation-dev
	url = https://github.com/IronsDu/accumulation-dev.git
[submodule "DDServerFramework/3rdparty/ssdb-bin"]
	path = DDServerFramework/3rdparty/ssdb-bin
	url = https://github.com/ideawu/ssdb-bin.git
[submodule "DDServerFramework/3rdparty/accumulation-dev"]
	path = DDServerFramework/3rdparty/accumulation-dev
	url = https://github.com/IronsDu/accumulation-dev.git
[submodule "DDServerFramework/3rdparty/lua_tinker"]
	path = DDServerFramework/3rdparty/lua_tinker
	url = https://github.com/IronsDu/lua_tinker.git
